<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="Monitor/LogLevel" value="Debug" />
        <add key="CKSetup/DefaultStorePath" value="../LocalTestHelper/LocalTestStore" />
        <add key="StObjMap/GeneratedAssemblyName" value="SqlZonePackage.Tests.Generated" />
        <add key="CKDatabaseLocal/AssembliesToSetup" value="SqlZonePackage, SqlActorPackage" />
        <add key="SqlServer/DatabaseTestName" value="CKDB_TEST_SqlZonePackage" />
    </appSettings>

</configuration>
