<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="SqlZonePackage.Tests.Generated" />
    <add key="AssembliesToSetup" value="SqlZonePackage, SqlActorPackage" />
    <add key="UsedSchemas" value="" />
    <add key="DatabaseTestName" value="CKDB_TEST_SqlZonePackage" />
  </appSettings>

</configuration>
