<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="SourceGeneration" value="true" />
    <add key="DynamicAssemblyName" value="SqlZonePackage.Tests.Generated" />
    <add key="RecurseAssembliesToSetup" value="SqlZonePackage" />
    <add key="UsedSchemas" value="" />
    <add key="DatabaseTestName" value="CKDB_TEST_SqlZonePackage" />
  </appSettings>

</configuration>