<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Monitor/LogLevel" value="Debug" />
    <add key="Monitor/LogToTextFile" value="true" />
    <add key="CKSetup/DefaultStorePath" value="../LocalTestHelper/LocalTestStore" />
    <add key="TestHelper/PreLoadedAssemblies" value="LocalTestHelper" />
    <!--<add key="CKSetup/LaunchDebug" value="true"/>-->
  </appSettings>

</configuration>
