<configuration><appSettings>
  -- This forces the Solutions that generate components to use the LocalFeed CKSetupStore
  <add key="CKSetup/DefaultStoreUrl" value="C:/dev/CK/LocalFeed/Local/CKSetupStore" />
  <add key="CKSetup/DefaultStorePath" value="C:/dev/CK/LocalFeed/Local/CKSetupStore" />
</appSettings></configuration>