<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.SqlServer.Setup.Engine.Tests.Generated" />
    <add key="UsedSchemas" value="" />
    <add key="DatabaseTestName" value="CK_SqlServer_Setup_Engine_Tests" />
  </appSettings>

</configuration>