<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="CK.SqlServer.Setup.Engine.Tests.Generated" />
    <add key="UsedSchemas" value="bad schema name" />
    <add key="DatabaseTestName" value="CK_SqlServer_Setup_Engine_Tests" />
  </appSettings>

   <runtime>

      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

         <dependentAssembly>

            <assemblyIdentity name="CK.Text" publicKeyToken="731c291b31fb8d27" culture="neutral" />

            <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />

         </dependentAssembly>

         <dependentAssembly>

            <assemblyIdentity name="CK.ActivityMonitor" publicKeyToken="731c291b31fb8d27" culture="neutral" />

            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

         </dependentAssembly>

         <dependentAssembly>

            <assemblyIdentity name="CK.ActivityMonitor.StandardSender" publicKeyToken="731c291b31fb8d27" culture="neutral" />

            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

         </dependentAssembly>

         <dependentAssembly>

            <assemblyIdentity name="CK.Core" publicKeyToken="731c291b31fb8d27" culture="neutral" />

            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

         </dependentAssembly>

         <dependentAssembly>

            <assemblyIdentity name="CK.SqlServer.Parser.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />

            <bindingRedirect oldVersion="0.0.0.0-3.2.2.0" newVersion="3.2.2.0" />

         </dependentAssembly>

      </assemblyBinding>

   </runtime>
</configuration>