<?xml version="1.0" encoding="utf-8"?>
<configuration>

<!--
    Paths are still relative to the test project...
    TODO: This could be better to capture a ConfigPath (or BasePath) for each configuration entry
    that defaults to TestProjectFolder and enables a Resolve by the entry.Config/BasePath.
-->
    <appSettings>
        <add key="StObjMap/GeneratedAssemblyName" value="Transform.Tests.Generated" />
        <add key="SqlServer/DatabaseTestName" value="CKDB_TEST_Transform" />
        <add key="CKSetup/DefaultStorePath" value="../../LocalTestHelper/LocalTestStore" />
    </appSettings>

</configuration>
