<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="Monitor/LogToTextFile" value="true" />
        <add key="StObjMap/GeneratedAssemblyName" value="Transform.Tests.Generated" />
        <add key="CKSetup/DefaultStorePath" value="../LocalTestHelper/LocalTestStore" />
        <add key="TestHelper/PreLoadedAssemblies" value="LocalTestHelper" />
    </appSettings>

</configuration>
