<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="WorkingDirectory" value="CKSetupWorkingDirectory" />
        <add key="CKSetup/DefaultBinPaths" value="../Model/CKLevel0/bin/{BuildConfiguration}/netstandard2.0;../Model/CKLevel2/bin/{BuildConfiguration}/netstandard2.0" />
    </appSettings>

</configuration>
