<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Dynamic Assembly name that will be created. -->
    <add key="DynamicAssemblyName" value="CK.UnitTestHelper.Generated" />
    <!-- Assembly names to setup. -->
    <add key="AssembliesToSetup" value="CK.UnitTestHelper, AnotherOne" />
    <!-- Schemas that can be cleaned up. CKCore and CK are automatically added. -->
    <add key="UsedSchemas" value="HSide, VSide" />
  </appSettings>
  <connectionStrings>
    <!-- The default database that will be used. -->
    <add name="DefaultTestDatabase" connectionString="Server=.;Database=ActorModel;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CK.Core" publicKeyToken="edfa2f62fc978217" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.StObj.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.StObj.Runtime" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.Setup.Dependency" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.StObj.Engine" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.Setupable.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.Setupable.Runtime" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.SqlServer.Core" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.SqlServer.Parser" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.SqlServer.Setup.Model" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.SqlServer.Setup.Runtime" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.Setupable.Engine" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.7.0" newVersion="3.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>