<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CK.Core" version="4.3.0" targetFramework="net451" />
  <package id="CK.Monitoring" version="4.3.0" targetFramework="net451" />
  <package id="CK.Reflection" version="4.3.0" targetFramework="net451" />
  <package id="CK.SqlServer.Parser" version="4.1.0-a00-00-explore-0003" targetFramework="net451" />
  <package id="CK.SqlServer.Parser.Model" version="1.2.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="SimpleGitVersionTask" version="0.13.0" targetFramework="net451" developmentDependency="true" />
  <package id="System.Collections" version="4.0.0" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net451" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net451" />
  <package id="System.Linq" version="4.0.0" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net451" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net451" />
  <package id="System.Threading" version="4.0.0" targetFramework="net451" />
</packages>