<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="SqlColumns.Tests.Generated" />
    <add key="AssembliesToSetup" value="SqlColumns" />
    <add key="UsedSchemas" value="Prd" />
    <add key="DatabaseTestName" value="CKDB_TEST_SqlColumns" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="CK.Text" publicKeyToken="731c291b31fb8d27" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>