<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="SqlColumns.Tests.Generated" />
    <add key="AssembliesToSetup" value="SqlColumns" />
    <add key="UsedSchemas" value="Prd" />
    <add key="DatabaseTestName" value="CKDB_TEST_SqlColumns" />
  </appSettings>

</configuration>