<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="Transform.Tests.Generated" />
    <add key="AssembliesToSetup" value="CKLevel0, CKLevel2" />
    <add key="UsedSchemas" value="" />
    <add key="DatabaseTestName" value="CKDB_TEST_Transform" />
  </appSettings>

</configuration>