<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="StObjMap/GeneratedAssemblyName" value="Transform.Tests.Generated" />
        <add key="SqlServer/DatabaseTestName" value="CKDB_TEST_Transform" />
        <add key="CKSetup/DefaultStorePath" value="../../LocalTestHelper/LocalTestStore" />
    </appSettings>

</configuration>
