<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Common" version="0.24.0" targetFramework="net461" developmentDependency="true" />
  <package id="Cake.Core" version="0.24.0" targetFramework="net461" />
  <package id="CK.ActivityMonitor" version="9.0.3" targetFramework="net461" />
  <package id="CK.ActivityMonitor.SimpleSender" version="9.0.3" targetFramework="net461" />
  <package id="CK.Core" version="9.1.1" targetFramework="net461" />
  <package id="CK.Monitoring" version="8.3.2" targetFramework="net461" />
  <package id="CK.Text" version="6.2.0" targetFramework="net461" />
  <package id="CKSetup.Cake" version="6.0.0-a00-00-develop-0043" targetFramework="net461" />
  <package id="CKSetup.Core" version="6.0.0-a00-00-develop-0043" targetFramework="net461" />
  <package id="Code.Cake" version="0.18.1-Cexplore-0005" targetFramework="net461" />
  <package id="CSemVer" version="1.1.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.0-beta7" targetFramework="net461" />
  <package id="NUnit.Runners.Net4" version="2.6.4" targetFramework="net45" />
  <package id="SimpleGitVersion.Cake" version="0.30.0" targetFramework="net461" developmentDependency="true" />
  <package id="SimpleGitVersion.Core" version="0.30.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>