<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="Monitor/LogLevel" value="Debug" />
        <add key="StObjMap/GeneratedAssemblyName" value="SqlActorPackage.Tests.Generated" />
        <add key="SqlServer/DatabaseTestName" value="CKDB_TEST_SqlActorPackage" />
        <add key="CKSetup/DefaultStorePath" value="../LocalTestHelper/LocalTestStore" />
        <add key="TestHelper/PreLoadedAssemblies" value="LocalTestHelper" />
    </appSettings>

</configuration>
