<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="CKSetup/WorkingDirectory" value="SetupWorkingDir" />
        <add key="Monitor/GlobalTextFiles" value="true" />
        <add key="Monitor/LogToConsole" value="false" />
        <add key="Monitor/LogLevel" value="Trace" />
        <add key="StObjMap/GeneratedAssemblyName" value="SqlCallDemo.Tests.Generated" />
        <add key="SqlServer/DatabaseTestName" value="CKDB_TEST_SqlCallDemo" />
        <add key="TestHelper/PreLoadedAssemblies" value="LocalTestHelper" />
        <add key="CKSetup/DefaultBinPaths" value="../SqlCallDemo/bin/Debug/netstandard2.0" />
        <add key="CKSetup/DefaultStorePath" value="../../LocalTestHelper/LocalTestStore" />
    </appSettings>

</configuration>
