<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="SqlCallDemo.Tests.Generated" />
    <add key="AssembliesToSetup" value="SqlCallDemo" />
    <add key="UsedSchemas" value="" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultTestDatabase" connectionString="Server=.;Database=CKDB_TEST_SqlCallDemo;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>