<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DynamicAssemblyName" value="SqlCallDemo.Tests.Generated" />
    <add key="AssembliesToSetup" value="SqlCallDemo" />
    <add key="UsedSchemas" value="Provider" />
    <add key="DatabaseTestName" value="CKDB_TEST_SqlCallDemo" />
  </appSettings>

</configuration>