<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="Monitor/LogToText" value="true" />
    <add key="CKSetup/AutoRegisterLocalComponentPaths" value="
          {SolutionFolder}/CK.Setupable.Model/{PathToBin};
          {SolutionFolder}/CK.Setupable.Runtime/{PathToBin};
          {SolutionFolder}/CK.Setupable.Engine/{PathToBin};
          {SolutionFolder}/CK.SqlServer.Setup.Model/{PathToBin};
          {SolutionFolder}/CK.SqlServer.Setup.Runtime/{PathToBin};
          {SolutionFolder}/CK.SqlServer.Setup.Engine/{PathToBin};
         "/>
  </appSettings>

</configuration>
