<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!-- Workaround for https://github.com/aspnet/websdk/issues/107 
    <UseMSDeployExe>true</UseMSDeployExe>-->
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>

      <ExcludeFilesFromDeployment>
          appsettings.json
      </ExcludeFilesFromDeployment>
      <ExcludeFoldersFromDeployment>
          Logs
      </ExcludeFoldersFromDeployment>
      <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>net461</PublishFramework>
    <ProjectGuid>a93e24ca-0678-4ad5-b2a6-f15132ae512a</ProjectGuid>
    <MSDeployServiceURL>pingui.cloudapp.net</MSDeployServiceURL>
    <DeployIisAppPath>CKSetup</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ci@invenietis.net</UserName>
    <_SavePWD>False</_SavePWD>
      
  </PropertyGroup>
</Project>
